body {
  font-family: Arial, sans-serif;
  background-image: url('main_img.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  margin: 0;
}

.main-header {
  width: 100%;
  text-align: center;
  top: 0;
  padding: 10px 0 4px 0;
  background: rgba(153, 176, 202, 0.15);
  box-shadow: 0px -2px 100px #193452;
  color: #fff;
  font-family: Arial, sans-serif;
  margin-bottom: 12px;
}

.main-header h1 {
  font-size: 2em;
  text-shadow: #e0e0e0 0.5px 0.5px 1px;
  margin: 0;
  color: #193452;
}

.main-header .tagline {
  font-size: 0.8em;
  color: #e0e0e0;
  margin-top: 4px;
}

/*for centering the content*/
.main-content {
  display: flex;

  justify-content: center;
  align-items: center;
  width: 100%;
}
.weather-container {
  margin: 10%;
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 15px;
  padding: 30px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  color: white;
  text-align:center;
}


input {
  padding: 10px;
  width: 80%;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

button {
  padding: 10px;
  margin: 20px 0px 0px 5px;
  background-color: #4a90e2;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  transform: scale(1.01);
  background-color: #357ab7;
}

.weather-result {
  margin-top: 20px;
  font-size: 1.1em;
}


#clock {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 15px;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}


#locationBtn {
  background-color: #f39c12; 
}

#locationBtn:hover {
  background-color: #e67e22;
}

#footer{
  width: 100%;
  color: white;
  padding: 2px 0;
  text-align: center;
  border-top: 1px solid #4a90e2;
  font-family: Arial, sans-serif;
  font-size: 0.8em;
  color: #e0e0e0;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
 box-shadow: 0px -4px 20px #08111b;
  background: rgba(66, 65, 65, 0.65);
  backdrop-filter: blur(5px);

}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:5px;
}

.footer-title {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 5px;
  color: #4a90e2;
}

.footer-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 35px;
}

.footer-links a {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  transition: all 0.3s ease;
}

.footer-links a:hover {
  color: #4a90e2;
  text-shadow: 0 0 0.5px #4a90e2;
  transform: scale(1.15);
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer-links {    
    gap: 17px;
  }
  .footer-links a {
        font-size: 12px;

  } 
}